.card-pokemon {
    border: 1px solid #ccc; 
    width: 200px;
    margin: 10px; 
    padding: 20px; 
    text-align: center;
}

.card-image{
    width: 100%;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    background-color: #444;
    color: white;
}

.btn-buy:hover, .btn-like:hover{
    background-color: #ccc;
    color: black;
}

.btn-like:active{
    background-color: rgb(39, 54, 139);
    color: white;
}

.btn-buy:active{
    background-color: rgb(41, 99, 48);
    color: white;
}